<div class="welcome">
  <div class="portrait">
    <img src="../../assets/images/IMG_1751.JPG">
    <img src="../../assets/images/photo_4974344458833341082_y.jpg">
  </div>
  <div class="presentation">
    <div class="big-title">Armando Villanueva</div>
    <div class="big-subtitle">Software Engineer</div>
    <div class="body">
      <p>
        Armando Villanueva is a Software Engineer with more than six years of experience in frontend and backend
        development, project management, and leadership. He has worked for various companies in the technology sector,
        both national and international, where he has participated in the design, development, implementation, and
        maintenance of innovative and quality IT solutions.
      </p>
      <p>
        He has extensive knowledge and skills in programming
        languages such as JavaScript, PHP, TypeScript, Python, and others, as well as frameworks and tools such as
        Angular, Laravel, Django, React, Git, etc. Likewise, he is familiar with agile methodologies such as Scrum and
        Kanban, and with good software engineering practices such as testing, debugging, refactoring, and documentation.
      </p>
      <p>
        He considers himself a creative, proactive, committed, and results-oriented person. He likes to work in a team,
        constantly learning new technologies and trends.
      </p>
      <p>
        He is confident that he can add value to any organization and quickly adapt to its culture and work methodology.
      </p>
    </div>
  </div>
</div>
