<!-- components/about/about.component.html -->
<section
  id="about"
  class="about-section"
>
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">About Me</h2>
      <div class="section-divider"></div>
    </div>

    <div class="about-content">
      <div class="about-text">
        <h3 class="about-subtitle">Full Stack Developer</h3>
        <p class="about-bio">{{ bio }}</p>

        <div class="contact-info">
          <h4>Get in touch:</h4>
          <ul>
            <li *ngFor="let item of contactInfo">
              <a
                [href]="item.link"
                target="_blank"
                rel="noopener noreferrer"
              >
                <span class="material-icons">{{ item.icon }}</span>
                {{ item.value }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="about-image">
        <img
          src="assets/images/profile.jpg"
          alt="Armando Villanueva"
          class="profile-image"
        >
        <!-- <div class="tech-icons">
          <div
            class="icon"
            *ngFor="let icon of ['angular', 'react', 'laravel', 'python', 'nodejs']"
          >
            <img
              [src]="'assets/images/tech/' + icon + '.svg'"
              [alt]="icon"
            >
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
