.container {
  position: relative;
  border-radius: .6rem;
  display: flex;
  padding: 3rem 0;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

.portrait {
  img {
    border-radius: .6rem;
    width: 24rem;
    height: 24rem;
    object-fit: cover;
  }
}

.cta {
  left: 25%;
  position: absolute;
  bottom: 6rem;
  animation: slideRight 1s ease-in-out;
}

@keyframes slideRight {
  0% {
    left: -2rem;
  }

  100% {
    left: 25%;
  }
}
