<app-layout>
  <div class="container">
    <div class="presentation">
      <div class="big-title">Armando Villanueva</div>
      <div class="big-subtitle">Software Engineer</div>
    </div>
    <div class="portrait">
      <img src="../../assets/images/IMG_20220827_153606.jpg">
    </div>
    <button class="cta primary">Hire me</button>
  </div>
  <app-about></app-about>
  <div class="container">
    <div class="presentation">
      <div class="big-title">Projects</div>
      <div class="big-subtitle">Take a look to my work</div>
    </div>
    <div class="portrait">
      <img src="../../assets/images/WIN_20240905_03_10_48_Pro.jpg">
    </div>
    <button class="cta primary" (click)="redirect('projects')">see more</button>
  </div>
</app-layout>
