.welcome {
  position: relative;
  display: flex;
  padding: 3rem 0;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 3rem;
}

.portrait {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  img {
    border-radius: .6rem;
    width: 16rem;
    height: 16rem;
    object-fit: cover;
  }
}

.presentation {
  padding: 0 3rem;
}
