<app-layout>
  <div class="filter">
    <input
      type="text"
      class="search"
      name="search"
      placeholder="search project"
    >
    <ng-select
      name="filter"
      [items]=skillOptions
      placeholder="filter by skill"
    ></ng-select>
  </div>
  <div class="container">
    <div
      class="card"
      *ngFor="let project of data"
      (click)="open(project)"
    >
      <div class="info">
        <div class="subtitle">{{project.title}}</div>
        <div class="body">{{project.summary}}</div>
        <div class="tags">
          <div
            *ngFor="let skill of project.skills"
            class="chip"
          >{{skill}}</div>
        </div>
      </div>
      <img [src]=project.media[0]>
    </div>
  </div>
</app-layout>
