.title {
  text-align: center;
  margin-bottom: 1rem;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 1rem;

  input {
    width: 10rem;
    height: 1rem;
  }
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.card {
  padding: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  border-radius: 0.8rem;
  background: var(--bg-primary);
  transition: background 0.2s linear;
  box-shadow: 2px 2px 3px var(--bg-shadow);

  &:hover {
    background: var(--bg-secondary);
  }

  &.open {
    grid-column: span 2;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .info {
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2rem;
    row-gap: 1rem;

    .tags {
      display: flex;
      flex-wrap: wrap;
      column-gap: .5rem;
      row-gap: .5rem;
      justify-content: flex-start;

      .chip {
        font-size: .85rem;
        padding: .25rem;
        font-weight: bold;
        background-color: var(--primary);
        border: 2px solid var(--primary);
        border-radius: 1rem;
        transition: .200s;
        box-shadow: 2px 2px 3px var(--bg-shadow);

        &:hover {
          background-color: var(--secondary);
          border: 2px solid var(--primary);
          cursor: pointer;
        }
      }
    }
  }
}

img {
  cursor: pointer;
  width: 15rem;
  max-height: 20rem;
  object-fit: cover;
  border-radius: .5rem;
}
