.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 5rem;

  .item {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: bold;
    cursor: pointer;
    padding: .25rem 0;
    border-bottom: .15rem solid transparent;

    &:hover {
      border-bottom: .15rem solid var(--primary);
    }
  }
}
