<app-layout>
  <div class="container">
    <div class="card">
      <div class="info">
        <div class="title">Lorem ipsum dolor sit amet</div>
        <div class="body">Ullamco irure dolor minim proident incididunt consequat commodo commodo duis duis occaecat quis.</div>
        <div class="tags">
          <div class="chip">PHP</div>
          <div class="chip">Python</div>
          <div class="chip">Codeigniter</div>
          <div class="chip">Javascript</div>
          <div class="chip">Angular</div>
          <div class="chip">Typescript</div>
          <div class="chip">Mysql</div>
        </div>
      </div>
      <img src="https://ziyadsk.github.io/portfolio-V2/images/kaytouki.png">
    </div>

    <div class="card">
      <div class="info">
        <div class="title">Lorem ipsum dolor sit amet</div>
        <div class="body">Ullamco irure dolor minim proident incididunt consequat commodo commodo duis duis occaecat quis.</div>
        <div class="tags">
          <div class="chip">PHP</div>
          <div class="chip">Python</div>
          <div class="chip">Codeigniter</div>
          <div class="chip">Javascript</div>
          <div class="chip">Angular</div>
          <div class="chip">Typescript</div>
          <div class="chip">Mysql</div>
        </div>
      </div>
      <img src="https://ziyadsk.github.io/portfolio-V2/images/kaytouki.png">
    </div>

    <div class="card">
      <div class="info">
        <div class="title">Lorem ipsum dolor sit amet</div>
        <div class="body">Ullamco irure dolor minim proident incididunt consequat commodo commodo duis duis occaecat quis. </div>
        <div class="tags">
          <div class="chip">PHP</div>
          <div class="chip">Python</div>
          <div class="chip">Codeigniter</div>
          <div class="chip">Javascript</div>
          <div class="chip">Angular</div>
          <div class="chip">Typescript</div>
          <div class="chip">Mysql</div>
        </div>
      </div>
      <img src="https://ziyadsk.github.io/portfolio-V2/images/kaytouki.png">
    </div>

    <div class="card">
      <div class="info">
        <div class="title">Lorem ipsum dolor sit amet</div>
        <div class="body">Ullamco irure dolor minim proident incididunt consequat commodo commodo duis duis occaecat quis.</div>
        <div class="tags">
          <div class="chip">PHP</div>
          <div class="chip">Python</div>
          <div class="chip">Codeigniter</div>
          <div class="chip">Javascript</div>
          <div class="chip">Angular</div>
          <div class="chip">Typescript</div>
          <div class="chip">Mysql</div>
        </div>
      </div>
      <img src="https://ziyadsk.github.io/portfolio-V2/images/kaytouki.png">
    </div>

    <div class="card reverse">
      <div class="info">
        <div class="title">Lorem ipsum dolor sit amet</div>
        <div class="body">Ullamco irure dolor minim proident incididunt consequat commodo commodo duis duis occaecat quis.</div>
        <div class="tags">
          <div class="chip">PHP</div>
          <div class="chip">Python</div>
          <div class="chip">Codeigniter</div>
          <div class="chip">Javascript</div>
          <div class="chip">Angular</div>
          <div class="chip">Typescript</div>
          <div class="chip">Mysql</div>
        </div>
      </div>
      <img src="https://ziyadsk.github.io/portfolio-V2/images/kaytouki.png">
    </div>
  </div>
</app-layout>
