.master-layer {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  margin: 0 3rem;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid var(--bg-shadow);
}
